.container {
  /* height: 100vh; */
  background-color: #f4f4f5;
}

.rightNav {
  background-color: #478afb;
  border-radius: 30px;
  margin: 16px;
}

.navbarBrand {
  color: white;
}

.statistic {
  background-color: white;
  border-radius: 20px;
  height: 100px;
  margin: 10px;
}
.content {
  position: absolute;
  right: 0;
  left: 0;
}

.admin {
  display: flex;
  flex-direction: row;
}

.user {
  cursor: pointer;
}
