.container {
  height: 100vh;
  background-color: var(--background-color);
  background-image: url("/bg.png");
}

.inputField input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}



@media (max-width: 769px) {
  .image {
    display: none;
  }
}