.tableContainer {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btnContainer {
  display: flex;
  justify-content: end;
}

.btnContainer .btn {
  border-radius: 30px;
  border: 1px solid #dee2e6;
  margin-left: 8px;
  font-weight: 500;
  padding: 10px 16px;
  font-size: 16px;
}

.btnContainer .btnCreate {
  background-color: #3db2ff;
}