/* main css */

#main {
  background-color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 85%;
}

#main[data-isOpen="false"] {
  width: 100%;
}

/* dashboard */
.card {
  width: 275px;
  border-radius: 10px;
  /* margin: 10; */
}

.card-body {
  background-color: aqua;
  height: 100px;
  text-align: center;
  /* text-align: justify; */
  /* border-radius: 10px; */
  /* padding-top: 10px; */
}

#dashboard {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#btn-logout {
  /* position: absolute; */
  /* bottom: 5%; */
  width: 50px;
  height: 50px;
  /* margin-left: 30px; */
  /* margin-right: auto; */
  /* right: 0;
  left: 0; */
  /* margin-left: auto; */
  background-color: transparent;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: gray;
}

.content {
  background-color: #c7e9ff;
  border-radius: 10px;
  /* border: 1px solid; */
  padding: 20px;
}