.popup {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 5%;
  height: 24vh;
  width: 25vw;
  border: 2px solid;
  border-radius: 10px;
  background-color: red;
  z-index: 10001;
}
.popup[data-isOpen="false"] {
  top: -100%;
}

.disClick {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

.disClick[data-isOpen="false"] {
  display: none;
}
