.popup {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 30%;
  right: 30%;
  top: 10%;
  height: auto;
  width: auto;
  border: none;
  border-radius: 10px;
  background-color: white;
  z-index: 10001;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.popup[data-isOpen="false"] {
  top: -500%;
}

.disClick {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: black;
  opacity: 0.5;
}

.disClick[data-isOpen="false"] {
  display: none;
}

.popupContent {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.popupIcon {
  display: flex;
  justify-content: center;
}

.popupIcon.confirm svg {
  color: var(--highlight-color);
}

.popupIcon.error svg {
  color: red;
}

.popupIcon.success svg {
  color: green;
}

.pupu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn-popup {
  margin-left: 10px;
  margin-right: 10px;
  top: 30%;
}

@media screen and (max-width: 769px) {
  .popup {
    left: 0%;
    right: 0%;
  }
}