.container {
    position:sticky;
    background-color: #fff;
    width: 250px;
    max-width: 20%;
    height: 96vh;
    margin: 2vh 0 2vh 2vh;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.container ul {
    padding: 0;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
}

.container li {
    width: 90%;
    text-align: center;
    border-radius: 30px;
    background-color: #3171e0;
    margin-bottom: 5px;
    padding-left: 20px;
}

.container a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    padding: 10px;
}

.container a span {
    margin-left: 10px;
}

.container ul li {
    transition: background-color 0.3s;
    background-color: white;
    color: black;
}

.container ul li:hover {
    background-color: #dcf0fa;

}

.container ul li.active {
    background-color: #50b8e7;
    transition: background-color 0.3s;
}