* {
    box-sizing: border-box;
}

:root {
    --background-color: #3db2ff;
    --highlight-color: #ffb830;
    --title-color: #ff2442;
    --sub-title-color: #0072bc;
    --container-background-color: #f7f7f7;
    --sidebar-bgr: #f0f3ff;
    --employee-bgr: #c7e9ff;
}

nextjs-portal {
    display: none;
}