.headerContainer {
    background: transparent;
    transition: 0.2s ease-in-out;
}

.headerContainer.active,
.headerContainer.active .navbar-toggler {
  background-color: white; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.headerContainer span {
    cursor: pointer;
    color: var(--highlight-color);
}

.headerContainer span:hover {
    color: var(--highlight-color);
}