.lookUp {
    margin-top: 75px;
}

.lookUpContainer {
    margin-top: 50px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px;
    background-color: #f7f7f7;
}

.searchTitle {
    display: flex;
}

.searchTitle p {
    margin-top: 10px;
}

.demo {
    height: 50px;
}