.lookUp {
    background-color: var(--background-color);
    background-image: url("/bg.png");
}

.lookUpHeader {
    background-image: url("/hero-header-bg.png");
    background-position: top center;
    background-size: cover;
}

.lookUpBanner {
    padding: 70px 0;
}

.lookUpBanner .itemBanner {
    display: flex;
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.lookUpBanner h1 {
    font-weight: 700;
    color: var(--highlight-color);
    /* font-size: 42px; */
    margin: 0;
}

.lookUpContainer {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 24px;
    padding: 24px;
    border: 1px solid #dee2e6;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.selectContainer {
    margin-top: 10px;
}

.submitButton {
    margin-top: 20px;
    background-color: var(--highlight-color);
}

.mapContainer {
    overflow: hidden;
}

.map {
    margin-top: -150px;
}