.cardContainer {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.btnStatistic {
  display: flex;
  justify-content: end;
  padding: 0;
  position: relative;
  z-index: 1;
}

.cardContainer[data-isExtend="true"] {
  border-radius: 20px;
  margin-bottom: 24px;
  padding: 24px;
  border: 1px solid #dee2e6;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 10%;
  right: 0;
  left: 0;
  z-index: 1000;
  background-color: #ffedda;
  width: 100%;
  height: auto;
}

.disClick {
  display: none;
}

.disClick[data-isOpen="true"] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10000;
  background-color: black;
  opacity: 0.5;
}

@media screen and (max-width: 769px) {
  .cardContainer[data-isExtend="true"] {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
    padding: 10px;
  }
}