.itemContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.title{
    color: #757493;
    font-size: 16px;
}

.statisticNumber h5{
    font-weight: 700;
}

.profit {
    background-color: #ebf9fa;
}

.profit svg {
    color: #29bec9;
}

.totalPackage {
    background-color: #f0f2ff;
}

.totalPackage svg {
    color: #3763fb;
}

.transPoint {
    background-color: #fff8e7;
}

.transPoint svg {
    color: #fec634;
}

.goodPoint {
    background-color: #feedf3;
}

.goodPoint svg{
    color: #f7679b;
}